@model SystematicsPortal.Web.Views.Documents.Components.Biostatus.BiostatusViewModel

@if (Model.Biostatuses.Any())
{
    @foreach (var biostatus in Model.Biostatuses)
    {
        <div>
            <h4 class="pb-4">@Model.Labels["//Document/BiostatusValue[@isActive='true']"]</h4>
            <div class="form-group row">
                <label class="col-sm-4 col-lg-3">@Model.Labels["//Document/BiostatusValue[@isActive='true']/Occurrence"]</label>
                <div class="col-sm-8 col-lg-9">@biostatus.Occurence</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-lg-3">@Model.Labels["//Document/BiostatusValue[@isActive='true']/Georegion"]</label>
                <div class="col-sm-8 col-lg-9">@biostatus.Georegion</div>
            </div>
        </div>
        
    }
}
