@{
    ViewData["Title"] = "Home Page";
}
@model SystematicsData.Models.Entities.Access.ContentConfigurations;

<div class="row">
    <div class="col-md-12 home-nav-search">
        @await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")
        @await Component.InvokeAsync("SearchField")
    </div>
</div>

<div class="row pl-5 pr-5 pt-5">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-5">
        <div class="row justify-content-center pb-4">
            <div class="col-md-6 mw-100 p-0 pr-1 pb-2">
                <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
            </div>
            <div class="col-md-6 pl-0">
                <h3>
                    @Html.Raw(Model.ContentConfigurationList[0].Content.SectionTitle)
                </h3>
                @Html.Raw(Model.ContentConfigurationList[0].Content.Text.Substring(0, 300))
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row justify-content-center pb-4">
            <div class="col-md-6 mw-100 p-0 pr-1 pb-2">
                <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
            </div>
            <div class="col-md-6 pl-0">
                <h3>
                    @Html.Raw(Model.ContentConfigurationList[1].Content.SectionTitle)
                </h3>
                <p class="">
                    @Html.Raw(Model.ContentConfigurationList[1].Content.Text.Substring(0, 300))
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row pl-5 pr-5 pb-5">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-5">
        <div class="row justify-content-center pb-4">
            <div class="col-md-6 mw-100 p-0 pr-1 pb-2">
                <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
            </div>
            <div class="col-md-6 pl-0">
                <h3>
                    @Html.Raw(Model.ContentConfigurationList[2].Content.SectionTitle)
                </h3>
                <p>
                    @Html.Raw(Model.ContentConfigurationList[2].Content.Text.Substring(0, 300))
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row justify-content-center pb-4">
            <div class="col-md-6 mw-100 p-0 pr-1 pb-2">
                <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
            </div>
            <div class="col-md-6 pl-0">
                <h3>
                    @Html.Raw(Model.ContentConfigurationList[3].Content.SectionTitle)
                </h3>
                <p class="">
                    @Html.Raw(Model.ContentConfigurationList[3].Content.Text.Substring(0, 300))
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
