@{
    ViewData["Title"] = "Detail";
}

@model Systematics.Portal.Web.Models.Document;

<h1>Detail</h1>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.NameFull, "Name Full")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.NameFull)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.NameFormatted, "Name Formatted")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.NameFormatted.Replace("._", "<i>").Replace("_.", "</i>"))
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.NamePartFormatted, "Name Part Formatted")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.NamePartFormatted.Replace("._", "<i>").Replace("_.", "</i>"))
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.YearOfPublication, "Year of Publication")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.YearOfPublication)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Parent, "Parent")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Parent.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.CurrentName, "Current Name")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.CurrentName.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Basionym, "Basionym")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Basionym.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Kingdom, "Kingdom")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Kingdom.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Phylum, "Phylum")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Phylum.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Class, "Class")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Class.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Order, "Order")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Order.Value)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Family, "Family")</label>
    <div class="col-sm-10">
        @Html.Raw(Model.Family.Value)
    </div>
</div>

@if (Model.AppliedVernaculars != null)
{
    <div class="form-group row">
        @foreach (Systematics.Portal.Web.Models.DocumentAppliedVernacular vernacularUse in Model.AppliedVernaculars)
        {
            <label class="col-sm-2 col-form-label">Vernacular Name</label>
            <div class="col-sm-10">
                @Html.Raw(vernacularUse.VernacularName.Value)
            </div>
        }
    </div>
}

@if (Model.CollectionObjects != null)
{
<div class="form-group row">
    @foreach (Systematics.Portal.Web.Models.DocumentCollectionObject collectionObject in Model.CollectionObjects)
    {
        <label class="col-sm-2 col-form-label">Collector</label>
        <div class="col-sm-10">
            @Html.Raw(collectionObject.Collector)
        </div>
        @if (Model.CollectionObjects != null)
        {
            <label class="col-sm-2 col-form-label">Regions</label>
            <div class="col-sm-10">
                @foreach (Systematics.Portal.Web.Models.DocumentCollectionObjectCollectionEventRegion collectionEventRegion in collectionObject.CollectionEventRegions)
                {
                    @String.Concat(@Html.Raw(collectionEventRegion.georegion), ",", @Html.Raw(collectionEventRegion.georegionSchema))<br />
                }
            </div>
        }
    }
</div>
}